.formControl{
    padding: 0 0 12px 0 ;
}
/* .radio{
    font-weight: bold;
} */
.ride{

    margin-left: 4.5em;
    border-bottom: solid 2px #747474 ;
    background-color: #f9fafce9;
     
}
.heading{
    margin-bottom: 0.8em;
}